:root {
    --aliceblue: aliceblue;
    background-image: linear-gradient(75deg, #00e0ff, #7000ff 48%, #ff6868);
  }
  
  .parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }
  
  .playground {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: var(--aliceblue);
    padding: 10px;
    width: 33rem;
  }
  
  .box {
    background-color: azure;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2px;
    margin: 2px;
    width: 10rem;
    height: 5rem;
    text-align: center;
    font-size: 40px;
    transition: background-color 0.2s ease-in-out;
  }
  
  .box:hover {
    background-color: rgba(var(--aliceblue), 0.5);
  }
  
  .box:active {
    background-color: var(--aliceblue);
    border-radius: 5px;
    margin: 0;
  }
  
  .box::content{
    color: black;
  }
  
  h1 {
    background-image: linear-gradient(75deg, #00e0ff, #7000ff 48%, #ff6868);
    border: 0.5 thin black;
    background-repeat: no-repeat;
    border-radius: 10px;
    color: black;
    font-size: 2.5rem;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(234, 203, 7, 0.9);
  }
  
  .button {
    background-color: transparent; /* Background color */
    border: none; /* Remove border */
    color: black; /* Text color */
    padding: 10px 20px; /* Padding around the text */
    text-align: center; /* Center align text */
    text-decoration: none; /* Remove default text decoration */
    display: inline-block; /* Display as inline block */
    font-size: 2rem; /* Font size */
    cursor: pointer; /* Cursor style */
    border-radius: 5px; /* Rounded corners */
  }
  
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h3 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 10px;
    font-weight: 400;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: transparent;
  }
  .popup .content {
    max-height: 100%;
    overflow: auto;
    background-color: white;
    font-size: large;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }
  
  
  